.container {
  display: grid;
  height: 500px;
  width: 700px;
  grid-template-rows: 100px 400px;
  grid-template-columns: 200px 500px;
  border: black solid 2px;
}

.main-header {
  background-color: rgb(235, 235, 223);
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: grid;
  grid-template-rows: 1fr 1fr;


}

.header-top {
  background-color: rgb(172, 238, 238);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-bar {
  background-color: rgb(214, 188, 239);
  align-content: center;
}


.noti-prof-name {
  background-color: rgb(250, 233, 213);
}

.header-bottom {
  background-color:rgb(222, 164, 164);
}

.main-content {
  background-color: green;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.sidebar {
  background-color: rgb(96, 200, 251);
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 50px 1fr;
}

.sidebar-header, .sidebar-item {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-content: center;
}

.dashboard {
  font-size: x-large;
  font-weight: bold;
  align-self: center;
}

#parasol {
  width: 40px;
  height: 40px;
  justify-self: center;
}


.dashboard {
  color: white;
}

.sidebar-menu {
  color: white;
  display: grid;
}

.sidebar-item {
  align-items: center;
}


.sidebar-icons {
  width: 30px;
  justify-self: center;
  align-self: center;
  line-height: 35px;
}



